/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* classList property */
.hidden {
  display: none;
}

/******************************************
/* LAYOUT
/*******************************************/

.card {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    border-color: black;
    border-style: outset;
    box-shadow: 12px 12px 5px rgb(197, 197, 197);
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 20px;
}

img {
  display: block;
  margin: 2em auto;
  width: 90%;
}

iframe {
  display: block;
  margin: 0 auto;
  border-color: black;
  border-style: outset;
  box-shadow: 12px 12px 5px silver;
}

h2 {
  padding: .5em;
  text-align: center;
}

h3 {
  padding: 2em;
  line-height: 1.5em;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
