/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* classList property */
.hidden {
  display: none;
}

/******************************************
/* LAYOUT
/*******************************************/

img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

h2 {
  padding: 2em;
  text-align: center;
}

h3 {
  padding: 2em;
  line-height: 1.5em;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
